<div layout="column" layout-align="center center">
  <md-card class="profile-card">
    <md-card-title>
      <md-card-title-text>
         <div class="flexbox-parent">
            <div  layout="row" layout-align="space-between  start">
               <md-input-container>
                 <label>Firstname</label>
                 <input ng-disabled="!isEditable" ng-model="user.firstName">
               </md-input-container>
               <md-input-container>
                 <label>LastName</label>
                 <input ng-disabled="!isEditable" ng-model="user.lastName">
               </md-input-container>
               <md-card-media>
                 <div class="md-media-sm card-media">
                    <label ng-class="{'profile-label': isEditable}" for="attach-project-file">
                       <img  class="profile-img"
                        ng-src="{{user.picture || user.pictureUrl}}">
                       <div ng-if="isEditable && !user.picture && !user.pictureUrl"
                        class="filename" id="attached-project-file">
                           Click to add your profile picture
                        </div>
                     </label>
                     <input ng-disabled="!isEditable" id="attach-project-file" type="file" file-input='files'
                     onchange="angular.element(this).scope().imageUpload(event)">
                 </div>
              </md-card-media>
           </div>
        </div>
        <div>
           <md-input-container>
              <label>Email</label>
              <input ng-disabled="true" ng-model="user.email" type="email">
           </md-input-container>
        </div>
        <div>
           <label>Gender</label>
           <md-input-container>
             <button ng-show='user.gender === "m" || isEditable'
              ng-disabled='!isEditable || user.gender !== "m"'
              class="md-fab md-mini md-button md-ink-ripple" type="button"
              ng-click="setGender('f')">
               M
            </button>
            <button ng-show='user.gender === "f" || isEditable'
             ng-disabled='!isEditable || user.gender !== "f"'
             class="md-fab md-mini md-button md-ink-ripple" type="button"
             ng-click="setGender('m')">
               F
            </button>
           </md-input-container>
        </div>
        <div>
           <md-input-container>
              <label>Age</label>
              <input ng-disabled="!isEditable" ng-model="user.age" type="number">
           </md-input-container>
        </div>
   </md-card-title-text>
</md-card-title>
<md-card-content>
   <hr/>
   <span><b>Introduction:</b></span>
   <md-input-container class="md-block">
      <textarea ng-disabled="!isEditable" ng-model="user.introduction" rows="1" md-select-on-focus>
      </textarea>
   </md-input-container>
   <md-button ng-show="isEditable && hasEditedUser()" ng-click="saveUserChanges()" class="md-raised">
      Save
   </md-button>
   <md-button ng-show="isEditable && hasEditedUser()" ng-click="restoreUser()" class="md-raised md-warn">
      Reset
   </md-button>
</md-card-content>

</md-card>
  <md-card class="profile-card">
    <div ng-show="hasSetPreferences()" layout="row" layout-align="center center">
      <div flex="50">
        <md-card-content>
          <span> Dorm: {{preferences.dormName}} </span>
        </md-card-content>
        <md-card-content>
          <span> Major: {{preferences.major}}</span>
        </md-card-content>
        <md-card-content>
          <span> Grades: {{preferences.gradesRatio}}%  Social: {{(100-preferences.gradesRatio)}}%</span>
        </md-card-content>
        <md-card-content>
          <span> Quiet: {{preferences.quiet ? 'Yes' : 'No'}}</span>
        </md-card-content>
        <md-card-content>
          <span> Greek life: {{preferences.greekLife ? 'Yes' : 'No'}}</span>
        </md-card-content>
      </div>
      <div flex="50">
        <md-card-content>
          <span> Smoking: {{preferences.smoking ? 'Yes' : 'No'}}</span>
        </md-card-content>
        <md-card-content>
          <span> Drinking: {{preferences.drinking ? 'Yes' : 'No'}}</span>
        </md-card-content>
        <md-card-content>
          <span> Wake Time: {{preferences.wakeTime}}</span>
        </md-card-content>
        <md-card-content>
          <span>Sleep Time: {{preferences.sleepTime}}</span>
        </md-card-content>
        <md-card-content>
          <span> Cleanliness: {{preferences.cleanliness}}/5</span>
        </md-card-content>
      </div>
    </div>
    <div ng-show="!hasSetPreferences()" layout="row" layout-align="center center">
      <div>
      <md-card-content>
         <a href="#" class="md-primary" ui-sref="preferences">Set your preferences</a>
      </md-card-content>

      </div>
    </div>
  </md-card>

  <md-card ng-show="hasHobbies()" class="profile-card">
    <md-card-content>
      <span>Hobbies</span>
      <hobby-list user-hobbies="hobbies"></hobby-list>
    </md-card-content>
  </md-card>

</div>
