<div layout="column" layout-align="center center">
  <h2> {{title}} </h2>

  <div layout="row" layout-align="center stretch">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Filter by</label>
      <md-select ng-model="$scope.filter">
        <md-option ng-repeat="filter in filters" value="{{filter.filter}}">
          {{filter.filter}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Value</label>
      <input type="email" ng-model="$scope.filterValue">
    </md-input-container>
    <md-button ng-click="filter()">Apply Filter</md-button>
  </div>

  <md-list>
    <md-list-item ng-repeat="match in matches">
      <div flex="80">
        <md-card md-theme-watch class="matchcard">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <a  href="#" class="md-primary" ui-sref="profile({usrId: {{match.userId}}})">{{match.firstName}} {{match.lastName}}
                </a>
              </span>
              <div layout="horizontal">
                <span class="md-subhead">
                  <div flex>
                    {{match.email}}</br>Gender: {{match.gender}}
                  </div>
                </span>
              </div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="{{match.pictureUrl}}">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <div layout="column" layout-align="center left">
              <div flex>
                <p>{{match.introduction}}</p>
              </div>
              <div flex>
                <p ng-if="match.notes && !match.newNote"> Note: {{match.notes}} </p>
                <md-input-container ng-if="match.newNote" name="note" flex="70">
                    <label>Note: </label>
                    <input name="note" ng-model="match.notes">
                    <md-button ng-click="submitNote($index, match.notes)">Submit Note</md-button>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-if="!match.saved" ng-click="saveMatch(match.matchId, true)">Save</md-button>
            <md-button ng-if="match.saved" ng-click="saveMatch(match.matchId, false)">Remove Save</md-button>
            <md-button ng-if="!match.archived" ng-click="hideMatch(match.matchId, true)">Archive</md-button>
            <md-button ng-if="match.archived" ng-click="hideMatch(match.matchId, false)">Unarchive</md-button>
            <md-button ng-if="!match.notes && !match.newNote" ng-click="addNote($index)">Add Note</md-button>
            <md-button ng-if="match.notes" ng-click="addNote($index)">Edit Note</md-button>
            <md-button ng-if="match.notes" ng-click="submitNote($index, '')">Remove Note</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-list-item>
  </md-list>
</div>